body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2.5rem;
    color: #5eb0b5;
    font-weight: normal;
    padding-bottom: 10px;
}

p {
    line-height: 2;
}

hr {
    border: dotted #d6e0f0 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
a{
    color: #0b7178;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #84d6db;
}

.top-container {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 100px;
    padding-bottom: 35px;
}

.middle-container {
    margin: 100px auto;
}

.intro {
    width: 30%;
    margin: auto;
}

.bottom-container {
    background-color: #a6e3e9;
    padding: 50px 0 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #0b7178;
    font-size: 0.83rem;
    padding: 20px 0px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.avatar {
    margin-top: 100px;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
}

.medved-img {
    border-radius: 50%;
    height: 250px;
    width: 35%;
    float: left;
    margin-right: 30px;
}

.sponge-bob-img {
    border-radius: 50%;
    height: 250px;
    width: 35%;
    float: right;
    margin-left: 30px;
}

.btn {
   background: #CBF1F5;
   background-image: -webkit-linear-gradient(top, #CBF1F5, #A6E3E9);
   background-image: -moz-linear-gradient(top, #CBF1F5, #A6E3E9);
   background-image: -ms-linear-gradient(top, #CBF1F5, #A6E3E9);
   background-image: -o-linear-gradient(top, #CBF1F5, #A6E3E9);
   background-image: linear-gradient(to bottom, #CBF1F5, #A6E3E9);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 12px;
   line-height: 12px;
   color: #0b7178;
   font-family: 'Montserrat', sans-serif;
   width: 169px;
   font-size: 23px;
   font-weight: 300;
   padding: 21px;
   box-shadow: 4px 2px 28px 3px #B5CFE5;
   -webkit-box-shadow: 4px 2px 28px 3px #B5CFE5;
   -moz-box-shadow: 4px 2px 28px 3px #B5CFE5;
   border: outset #FFFFFF 0px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 0px;
   background: #E66CD9;
   background-image: -webkit-linear-gradient(top, #E66CD9, #3D94F6);
   background-image: -moz-linear-gradient(top, #E66CD9, #3D94F6);
   background-image: -ms-linear-gradient(top, #E66CD9, #3D94F6);
   background-image: -o-linear-gradient(top, #E66CD9, #3D94F6);
   background-image: linear-gradient(to bottom, #E66CD9, #3D94F6);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
